<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bikin Mahasiswa</title>
</head>

<body>
  <h1>Bikin Mahasiswa</h1>

  <ul>
    {{#each mhs}}
    <li>Nama: {{id}}</li>
    {{/each}}
  </ul>

  <form action="/mhs" method="POST">
    <label for="">Nama Mahasiswa</label>
    <input type="text" name="namaMhs">


    <br>
    <button type="submit">SUBMIT</button>
  </form>
</body>

</html>